<div class="modal" ng-controller="ReadCtrl">

  <header class="bar bar-header bar-positive" ng-show="showHeader">
    <button class="button left button-icon" ng-click="closeModal()"><i class="icon ion-close"></i>
    </button>
    <h1 class="title">{{book.title}}
    </h1>
  </header>
  <content has-header="false">
    <div ng-show="showHeader">
      <br>
      <br>
    </div>
    <div id="wrapper">
      <div id="overlay">
        <button class="testButton" ng-click="previousPage();">Left</button>
        <button class="testButton" ng-click="toggleHeading();">Middle</button>
        <button class="testButton" ng-click="nextPage();">Right</button>
      </div>
      <div id="area"></div>
    </div>
  </content>
</div>
